[2020-07-14 03:27] jairoxyz opened #2 "Session related suggestions"
Hi mate, I see you converted to TS. Looks really great now and works nicely for me, especially using custom session profile, which seems to help avoiding trigger of Captcha after a couple of retries of the request.get. I have a few suggestions:

- when using session param without custom User-Agent, a random browser profile folder is created instead of the custom named folder. Is there a reason for

[2020-07-14 13:21] jairoxyz opened #3 "Not running resolveChallenge"
I think there is a mistake in line 75 of routes.ts.

Shouldn't it be

`if (response.status() === 503) {`

[2020-07-15 01:20] NoahCardoza commented on #3
Some pages give 403s and others give 503s, which I found out yesterday. I was working on an update but didn't have time to push it yesterday.

I just merged your PR which will fix this flagging all requests with a status `> 400`.

[2020-07-15 01:20] #3 closed

[2020-07-15 01:46] NoahCardoza commented on #2
1. Well, the idea of the sessions is to speed up the requests after passing the challenge for the first time. When you want to reset your cookies you can just create a new session. I might be able to add something like `"destroy": false" to the `sessions.destroy` command, but to be effective, we'd have to place the profiles somewhere other than a temp directory. Maybe add an ENV variable `PATH_TO_

[2020-07-15 06:35] jairoxyz commented on #2
Hey again. Thanks for going through my suggestions.

1. Yes, I did it that way in my dev version:
dockerfile: `ENV TMPDIR=/home/node/flaresolverr/tmp`
sessions.js: c`onst tmpDir = process.env.TMPDIR || os.tmpdir()`

This works fine and profiles are created in the new folder. I am just an absolute newbie to docker, so I still have to sort out how to mount a persistent volume. Also, if for ex. runni

[2020-07-15 06:37] jairoxyz commented on #2
One more thing: I would like to add a headers parameter, so that we can pass these to https://github.com/puppeteer/puppeteer/blob/v3.3.0/docs/api.md#pagesetextrahttpheadersheaders . Some pages need correct headers to return proper responses.

[2020-07-16 01:52] NoahCardoza opened #6 "Add option to set headers on requests"
One more thing: I would like to add a headers parameter, so that we can pass these to https://github.com/puppeteer/puppeteer/blob/v3.3.0/docs/api.md#pagesetextrahttpheadersheaders . Some pages need correct headers to return proper responses.

_Originally posted by @jairoxyz in https://github.com/NoahCardoza/CloudProxy/issues/2#issuecomment-658576165_

[2020-07-16 03:50] #6 closed

[2020-07-16 05:29] jairoxyz commented on #6
Excellent! Thanks!

[2020-07-16 07:50] jairoxyz opened #8 "Wrong browser product"
Hey mate you are using product="chrome" but dockerfile installs firefox. Is chrome working better?

I am also getting protocol errors when trying to use headers. Maybe related to firefox?

[code]

[2020-07-16 08:25] NoahCardoza commented on #8
Yeah, I had to switch to Chrome because puppeteer doesn’t support request interception with FireFox yet. I also noticed that Chrome loads a lot faster so I’m not sure why the original author switched to FireFox in the first place.

I’ll fix the Docker file when I get home, I forgot to update it when I switched to FireFox. Just update it manually for now.

<sub>Sent with <a href="http://githawk.com

[2020-07-16 08:33] jairoxyz commented on #8
ok cool, will try Chrome

[2020-07-16 10:52] jairoxyz commented on #8
Works fine on desktop OS but on some hoster I get this error:

[code]
changing launch options to contain --no-sandbox fixes it though:

[code]

[2020-07-16 10:58] jairoxyz opened #9 "Return error when Captcha is detected and no solver is defined"
I think it would be better to return error instead success when a captcha is triggered but cannot be solved. A small change in line 180 ff in routes.ts would do:

[code]

Cheers and thanks again for the excellent coding!

Jx-

[2020-07-16 22:23] NoahCardoza commented on #8
Interesting... I'm not sure why that would work...

Anyways I fixed the Dockerfile.

[2020-07-16 22:23] #8 closed

[2020-07-16 22:26] NoahCardoza commented on #9
Well, I was thinking it might still come in useful if the user didn't want to solve the captcha. Maybe we could pass an `error` field back with some kind of error code? Or a warning?

For example:
[code]

What do you think?

[2020-07-19 06:23] NoahCardoza commented on #2
In regards to explicit session creation, I think I'm going to keep it that way since it wouldn't work any other way with the enhancements I've added via #10.

Next on my list of things to do is a variable userDataDir parent directory.

[2020-07-19 12:54] jairoxyz commented on #2
Yeah I think this is great like it is now.

[2020-07-19 13:00] jairoxyz commented on #9
Yes I think an error field would be helpful or some other status value than "OK".

Thanks,

Jx-

[2020-07-20 09:18] NoahCardoza commented on #2
In regards to saving sessions, I've been playing around with setting a custom parent to the `userDataDir` (0f528b4436a918ba3ad510d6db5cab948ed3d1b0). However, it seems that creating a session and then loading the session again doesn't preserve cookies like I'd have expected...

I used this to test it:

[code]

While I'd expect the output to be:

[code]

The output is actually:

[code]

I've done a

[2020-07-23 09:05] jairoxyz commented on #2
Hmmm, I haven't done any concrete tests, I only notice that the CF cookies stored in the session/profile folder SQLite DB are being used, because wile the first solving can take several retries and quite a bit of time, subsequent calls to the site opens very fast, obviously without needing to solve again. So as long as the container is running all seems to be OK with the cookies but since many con

[2020-07-24 08:37] FabioDeMiranda opened #12 "Add generic API caller for captcha"
Hi,

I'm using FlareSolverrSharp and FlareSolverr right now, I adapted the C# part to work with CloudProxy, but I'm having problems with captcha, the Harvester solution is not feasible to me, I need to automate that part too...

Is it possible to have an API call to a generic solver? I can implement it on my end.

I was think something like this:

CAPTCHA_SOLVER=generic
CAPTCHA_URL=http://host/met

[2020-07-24 12:56] jairoxyz commented on #12
Sounds interesting. Does the C# solution work at all without a headless browser of some sort? CF are using all sorts of tricks to detect if its a real browser and so far only the stealth plugin seems to work with headless but needs several retries. Captcha are often triggered by wrong headers and problematic TLS ciphers. So, you probably always end up with Captcha using the C# implementation?

Che

[2020-07-24 13:29] FabioDeMiranda commented on #12
Sorry, I don't think I explained myself, I adapted FlareSolverrSharp to work with CloudProxy after your fork, I want to use what you are doing but without manually solving the Captcha part... That is why I asked for a generic solver, so I can create an end point for it in my current project.

[2020-07-27 04:10] NoahCardoza commented on #12
This actually already exists if I understand you correctly, just add a file with under `/src/captcha` that exports a single function like [harvester.ts](https://github.com/NoahCardoza/CloudProxy/blob/master/src/captcha/harvester.ts) and you can program it to do whatever you want.

Then set `CAPTCHA_SOLVER={whatever you named the TS file}` and sent any other ENV variables it needs.

Let me know if

[2020-07-27 04:35] #12 closed

[2020-07-27 06:41] NoahCardoza commented on #12
@FabioDeMiranda

P.S.

If you develop any solvers that work with public projects or services feel free to open a PR request so this project can support more services out of the box.

Glad I could help!

[2020-07-30 07:05] angelch94 opened #14 "How to download image or file using CloudProxy?"
Good morning,

I have been trying to download images using CloudProxy but i never get lucky. When i run this example code, found in the readme, I get a JSON response with the cookies and a { solution: URL_TO_IMAGE_WITH_PARAMS }
`curl -L -X POST 'http://localhost:8191/v1' \-H 'Content-Type: application/json' \--data-raw '{"cmd": "request.get","url":"IMAGEURL","userAgent": "Mozilla/5.0 (Macintosh; I

[2020-07-30 19:27] NoahCardoza commented on #14
Hmm, the image might have to be base64 encoded to be passed in JSON. In its binary form it could be breaking the JSON. I’ll have to take a closer look later when I’m at my laptop.

[2020-07-31 01:06] NoahCardoza commented on #14
Found a fix, but I probably won't be able to finish it till later tonight/tomorrow.

[2020-08-01 00:49] angelch94 commented on #14
Take your time mate!

[2020-08-01 00:57] #14 closed

[2020-08-03 01:33] #9 closed

[2020-08-03 01:36] NoahCardoza commented on #2
Very interesting. Sorry it took forever to get back to you. Are you in the Discord server? https://discord.gg/pVT8rNy

I'll continue to look into this but I've been busier lately.

[2020-08-05 07:29] jairoxyz opened #17 "HCaptcha solver support"
Hey mate, this is related to https://github.com/NoahCardoza/CloudProxy/issues/12 - I followed your advice and wanted to add https://github.com/JimmyLaurent/hcaptcha-solver as a captcha solver. The node lib actually works with the site I tried and returns a token but I have difficulties adding it as a solver under ./captcha.

First problem, routes.ts tries to pass hostname and sitekey to the solver

[2020-08-05 14:09] NoahCardoza commented on #17
await page.waitForSelector('#challenge-form [type=submit]')

Which site does this line fail on?

I pass all those arguments because they might be needed, but it might be a good idea to pass the whole URL since you can take a hostname from a full URL but not vice versa. Regardless, since the hCaptcha solver takes only the hostname from the url you should be able to pass the domain.

[2020-08-05 14:41] #17 closed

[2020-08-06 06:26] jairoxyz opened #18 "hCaptcha protected sites without 'data-sitekey' and 'challenge-form submit' elements"
Some sites seem to obfuscate their site-keys and other elements on the page (or they use the hCaptcha stuff in a different way). Since hcaptcha-solver doesn't require the sitekey, I made some changes so the code doesn't break when these elements are not found:

**routes.ts**
lines 157ff
[code]
lines 187ff
[code]

I can make a PR if you like but maybe you want to code it differently or look into th

[2020-08-06 17:46] Findarato opened #19 "Sandbox error"
When trying to curl the docker image I get the following issues

[code]

I think this did not get applied or fixed: https://github.com/NoahCardoza/CloudProxy/issues/8#issuecomment-659333905

[2020-08-06 18:40] NoahCardoza commented on #19
I think it has to do with #13 adding `--no-sandbox` without `--disable-setuid-sandbox`. I'm getting a little back logged at work but I'll look into this ASAP.

[2020-08-06 19:19] Findarato commented on #19
Thanks for the quick update.  When I manually did the fix in #8 it did stop having the problem.  I have not tested the pull yet, logging in is the next step.

Thanks for this project I have been trying to solve this issue for a while.

[2020-08-07 01:09] lululombard opened #20 "CloudProxy gets stuck on jsch challenge"
So I've been implementing CloudProxy on [one of my projects](https://github.com/redcraft-org/redcraft-spigotmc-updater/tree/feature/initial-release), basically I'm trying to download plugins from [SpigotMC.org](https://spigotmc.org) and everything works fine until I want to download a plugin.

When browsing normally, the first time I download a plugin, I'll get the following screen:
![image](https

[2020-08-07 01:40] NoahCardoza commented on #20
I’ve been a little backlogged lately at work but I’ll get back to reviewing issues and PRs shortly. Thanks for being thing this to my attention 🙏

[2020-08-07 03:25] jairoxyz commented on #20
@lululombard  I don't think this is a bug or issue of the proxy. Most sites will need the proxy to try several times before the challenge is solved. Don't ask me why but this been my experience so far. So for your site, I ran below curl 2 times and got a successful response then. Note that it is important to create a custom session, so that the correct headers and cookies are sent.

Request:
`curl

[2020-08-07 13:19] lululombard commented on #20
@jairoxyz thanks for testing dude!
Indeed I wasn't using sessions, I added them, but I still have the same issue :(

When I run the following command, it will get stuck:
[code]
I get the following reply:
[code]

And here are the logs:
[code]

Even with sessions, I can login, browse resources, but not download them:
![image](https://user-images.githubusercontent.com/2182934/89649588-0724da00-d88f-1

[2020-08-07 14:08] jairoxyz commented on #20
Ah I see you are using your branch to send a GET request for downloading the file itself:

`https://www.spigotmc.org/resources/essentialsx.9089/download?version=343125","method":"GET","download":true`

I haven't tried that myself yet. Will have a look at your code and see if something occurs to me ;)

[2020-08-07 19:25] lululombard commented on #20
So I've been trying to do some retries, I also got the `net:ERR_ABORTED`, so I tried to debug CloudProxy by running Chrome in a non headless mode, and it actually asks to download the file. I'll play arround and maybe add support for files that get downloaded after a redirect, because I think this is where the issue is
![image](https://user-images.githubusercontent.com/2182934/89681089-3b65be00-d8

[2020-08-07 20:33] lululombard commented on #20
Update!

By adding this to routes.ts I am able to download files:
![image](https://user-images.githubusercontent.com/2182934/89686072-9f40b480-d8cb-11ea-8674-b21b5102febc.png)

Chrome says it failed and will keep the temporary download name in my downloads folder, but it's the right md5, I can rename the file with the correct extension and it will work, so that's good progress. I'll continue worki

[2020-08-08 02:00] jairoxyz commented on #20
Yes, I saw that Page.setDownloadBehavior when googling for Puppeteer file download yesterday. Good job :)

[2020-08-08 03:19] NoahCardoza commented on #20
@lululombard Wait so will this download the file to the downloads directory?

That's probably better than the base64 encoded buffer solution I was using but I wonder how this would work with the Docker? Tbh I barely even use the Docker file so I might add a pole to remove it if no one else is making use of it.

The only reason I've been using ENV variables to pass things to the script is because o

[2020-08-08 03:22] lululombard commented on #20
@NoahCardoza I'm using the [tmp](https://www.npmjs.com/package/tmp) package to set a download directory, it works with Windows, macOS and Linux from my testing. I'll try with Docker once I'm sure that I don't need to make any changes to the code :)

[2020-08-08 03:46] NoahCardoza commented on #20
Ah, so you can set the directory! Good. We might be able to work it like this:

Save the file to the tmp dir, and then return a url rather than the file in the json. Then they can use that url to download the file from the tmp dir and after serving the file it will be deleted?

[2020-08-08 03:47] lululombard commented on #20
Right now I'm returning the base64 from the file like before, and deleting the temporary file and folder when CloudProxy replies, but yes we can do anything we want :)

[2020-08-08 03:48] NoahCardoza commented on #20
I think the idea I just purposed would be the best general solution, since it wouldn't be a good idea to encode larger files into JSON.

[2020-08-08 03:49] NoahCardoza commented on #20
Like if someone wanted to download a video or even a large photo.

[2020-08-08 03:50] lululombard commented on #20
Indeed, for now I'll still work like this, I'm downloading files of 3-4 MB and it works, but sure we'll probably hit a limit. I'll continue working on this though :)

[2020-08-08 03:53] NoahCardoza commented on #20
Great!

[2020-08-09 08:31] #19 closed

[2020-08-09 08:32] NoahCardoza commented on #18
Sorry, I've been bust lately. I read this and thought I responded...

Feel free to submit a PR and I can tinker with it if need be.

[2020-08-11 08:07] NoahCardoza commented on #18
Could you send me as many example domains with this behavior? I'd like to take a closer look at what they are doing to obfuscate the captchas.

[2020-08-11 08:16] #18 closed

[2020-08-12 21:53] lululombard commented on #20
Sorry I kind of got off track. I have something working but not in a final state, and I'll probably not update it. That said, it's available here: https://github.com/lululombard/CloudProxy/tree/feature/download-redirect-support

[2020-09-08 19:27] amrmostafa800 opened #24 "cant bybass on this site"
it dont bybass cloadflare on this site
https://clients.hostwinds.com/buywindows/286

[2020-10-16 21:01] mrqaidi opened #25 "didnt work with harvester"
**Describe the bug**
solving captcha with CaptchaHarvester didnt work

**To Reproduce**
[code]

**Expected behavior**
2020-10-16T20:56:49.852Z DEBUG REQ-1 { headers: [Function] }
2020-10-16T20:56:49.857Z DEBUG REQ-1 Navegating to... https://www.primewire.li/?&links=With+Links&type=movie&t=y&ts=y&c=e&page=1
2020-10-16T20:56:49.877Z DEBUG REQ-1 {
  headers: {
    'upgrade-insecure-requests': '1',

[2020-10-16 21:18] NoahCardoza commented on #25
What did you set the ENV variable too? I'm pretty sure I switched some stuff up, so I think this needs to be fixed, but I"m just wondering what you passed?

[2020-10-16 21:21] mrqaidi commented on #25
i set these env
export HARVESTER_ENDPOINT=http://serverip:5000/token
export CAPTCHA_SOLVER=harvester

[2020-10-18 11:15] NoahCardoza commented on #25
Did you literally write `serverip`?

The docs are out of date, but you should set it like this:

[code]

Let me know if that works for you 👍

[2020-10-21 05:41] iconmix opened #26 "Possibilty to interact with opened page ?"
Hi.
Very nice solution to bypass cloudflare and work great.
I need to interact with a opened page, like click button, filling form, etc...
Not using postdata, but really interact like with selenium....
Is possible for you to add ? Or already existing but don't find how to ?

Thanks

[2020-10-21 19:22] NoahCardoza commented on #26
Hmm, I guess it could be configured to share the port of the webdriver so that you could connect to it... I don't really have time to look into it atm, but I think it would be a great addition to the project if you had time to work that out.

If anyone submits a PR for this I'd happily review and merge it!

[2020-10-21 19:22] NoahCardoza commented on #25
Any update @mrqaidi?

[2020-10-21 19:23] NoahCardoza commented on #24
Interesting. I think some sites use a different challenge page, so the parsing would need to be updated. I don't have tome to look into this ATM but if anyone wants to submit a PR I'd be happy to review/merge it!

[2020-10-22 10:41] iconmix commented on #26
I m actually working on it with your source....but i must understand puppeteer function works...
I ll share you my results
Thanks

[2020-10-30 17:33] hoang2404 opened #28 "cant bypass this site"
it dont bybass cloadflare on this site
https://hpjav(.)tv/

error detail
[code]

if i use `ngosang/FlareSolverr` package then error `Please enable cookies.`
[code]

[2020-11-07 08:03] jairoxyz commented on #28
I don't see a problem with that page. Did you create a session before trying to bypass it? You're not sharing any details about the params you are using, so its difficult to tell what your issue is.

[code]

[2020-11-07 13:15] jairoxyz commented on #24
There are no DOM elements of style class '.ray_id' or '.attack-box' and so the challenge is not detected at all. There is a transparent gif that seems to be present in all CF challenge pages and when adding the id of it to
`const CHALLENGE_SELECTORS = ['.ray_id', '.attack-box', '#trk_jschal_js']`
it seems to work. No idea though if this is the most elegant way to do it.

Cheers,

Jx-

[2020-11-08 23:09] #24 closed

[2020-11-09 06:20] #28 closed

[2020-11-14 22:58] chicungunya opened #30 "Install on a Raspberry Pi with Raspbian ?"
Is that possible ?

If yes, how ?

Thanks !

[2020-11-14 23:05] #30 closed

[2020-11-15 00:09] NoahCardoza commented on #30
Just install Docker and run it container. Or you can install Node and run the project.

[2020-11-15 00:23] chicungunya commented on #30
Yeah that's what I dit.

1 - `docker pull jbouhd/cloudproxy` Everything was downloaded and extracted.
2 -  `sudo docker run cloudproxy:latest `
Error : `Unable to find image 'cloudproxy:latest' locally
docker: Error response from daemon: pull access denied for cloudproxy, repository does not exist or may require 'docker login': denied: requested access to the resource is denied.`
3 - `sudo docker

[2020-11-15 13:59] chicungunya commented on #30
@NoahCardoza ,
What the step after `docker run --restart=always --name cloudproxy -p 8191:8191 -d cloudproxy:latest` ?
I receive a key and after ?
When I go to http://localhost:8191
I have this :`{"status":"error","message":"Body must be in JSON format","startTimestamp":1605447996285,"endTimestamp":1605447996350,"version":"1.0.0"}`

What do I have to do if I want to use CloudProxy for one website

[2020-11-15 14:01] ngosang opened #31 "Feature request: Official support in Jackett"
Hello, I'm the original author or https://github.com/ngosang/FlareSolverr and one of the Jackett' developers.
Since I don't have time to maintain FlareSolverr I'm thinking in using this project as official Cloudflare/Captcha resolver for Jackett. I will do all development, of course, but I have some concerns. Maybe you can help us in some way.
* The main concern is this project is hard to install

[2020-11-15 21:02] NoahCardoza commented on #31
At the moment I'm very busy with work, but this looks doable. I'll look into creating an offical Docker image ASAP for starters.

Any help you, or anyone else from Jackett could provide would be greatly appreciated!

While I have some experience packaging applications, I'm sure someone else could do it better 😂

[2020-11-16 11:05] Twanislas commented on #31
Hi @NoahCardoza,

I see there's already a Dockerfile in your repo. Wouldn't it be super simple to just build and host the docker image directly as a GitHub package (see https://docs.github.com/en/free-pro-team@latest/actions/guides/publishing-docker-images#publishing-images-to-github-packages) ?

It could be fully automated and trigger builds as soon as you publish a release.

Hope this helps ;)

[2020-11-16 11:28] Sebclem commented on #31
Hi !

If you need any help for auto build your docker image, i'm here.
You can look a one of my workflow that build and push docker container to Docker Hub when i create a new release, this one is very simple:
https://github.com/Sebclem/seb_git_bot/blob/master/.github/workflows/build.yml

I have another one, much more complicated that build for different Arch and also get the release tag and add i

[2020-11-16 11:52] NoahCardoza commented on #31
@Twanislas @Sebclem

Thanks for the support! I'll be sure to look into those links and hit you guys up if I have any questions!

**On another note**: @ngosang What exactly would need to change to make this project support ARM?

[2020-11-16 19:26] ngosang commented on #31
Yes, it's easy but it takes some time until it works as expected. You can open a PR with the configuration files if you want to do part of the work. @Sebclem if you have experience with Docker maybe you can help to reduce the current image size. We can use a smaller base image (Alpine), install less packages, etc...

You need to copy the `Dockerfile`, use an ARM base image (FROM) and test it becau

[2020-11-17 05:04] xfouloux commented on #31
do not forget the docker windows too =) ! using azure pipelines/git actions or appveyor or something else ? I think there is some ppl using it on windows too.

Also i'm trying to reduce the docker image size, using
[code]

but it seems that do not work afterwards because in package.json

[code]
and it seems it is ts-node that is used to start everything

Or can you point me out to the right direct

[2020-11-17 07:12] xfouloux commented on #31
best i can do is 891MB

[code]

[2020-11-17 09:33] Sebclem commented on #31
I think windows docker does not exist, it simply use the normal image.
I think docker for windows is simply a linux virtual machine that run all the docker.

[2020-11-17 10:06] Sebclem commented on #31
@xfouloux You can save 5MB (is not that much :rofl:) by replacing the base image with node:12-alpine:
[code]

[2020-11-17 13:56] Twanislas commented on #31
See https://github.com/NoahCardoza/CloudProxy/pull/32, hope it helps ;)

[2020-11-17 18:55] ngosang commented on #31
@NoahCardoza
* #33 reduces Docker size (1.4 GB => 557.7 MB), adds `hcaptcha-solver` dependency and fix ARM support (using system chromium). Thanks to @Twanislas @Sebclem @xfouloux
* #32 Build the images for all architectures in Github Actions and upload them to the registry.

I think it's important to provide an Installer or ZIP file for Windows users. Few people uses Docker in Windows because it

[2020-11-17 19:08] NoahCardoza commented on #31
Sounds good! Reviewing/setting up the Docker CI right now 🥳

[2020-11-18 11:00] ngosang commented on #31
@NoahCardoza Building a Windows .exe looks really easy. This has low priority of course. => https://www.monkwhocode.com/2020/06/nodejs-bundling-your-nodejs-application.html

[2020-11-18 19:49] NoahCardoza commented on #31
Oh wow that looks way simpler than I would have thought! However I'm guessing I'd need a windows machine to package that right? Maybe a GH action could take care of that?

In other news:

Anyone know why [this](https://github.com/NoahCardoza/CloudProxy/runs/1420280472?check_suite_focus=true) failed?

[code]

I built it just fine on my mac...

[2020-11-18 19:51] NoahCardoza commented on #31
Do you know how much memory it uses ATM?

Good idea, it will probably make it easier for people to find what they need as well. I'll try to get around to that soon. In the middle of a hackathon right now, but after this week I'll have much more time!

[2020-11-18 20:16] ngosang commented on #31
That is the idea. They have all kind of machines, GitHub is owned by Microsoft :smile:

It looks like it's failing only in ARM32 because chromium is not available, I tested only ARM64. I will open a PR later with a fix.

I can test it. The easy way is to execute `docker stats` to see memory and CPU usage. It's not perfect but it's useful.

[2020-11-18 21:27] ngosang commented on #31
@NoahCardoza #34 fixes the build issue. I think I can reduce the image a bit more.
I noticed than the default log level is debug. Could you change it to info?

120MB after start and 150MB after the first request.

[2020-11-18 22:11] andress134 opened #35 "Some Help if is posible"
Hello sir @NoahCardoza how can use  this lib on my vote script, if u can help me, thx

Here is my exemple script, my try, but it is wrong  idk how to do it
My script send requests to a vote url (to create fake  viewes)

[code]

[2020-11-18 22:52] ngosang commented on #31
#36 reduces the Docker image a bit more. I think we can't go further.

I have found a big issue in the memory management. I don't care if CloudProxy/Chrome uses 100MB or 200MB of RAM but it has to be limited. If it is not, you can compromise the whole machine.

For example, if you request this URL => https://www.111111111111111111.com/ with each request the memory increases in 100MB and it's never

[2020-11-19 00:00] xfouloux commented on #31
Well it also can be limited on host side (it is what i do for most of my containers, and a restart each week, but yeah in prod condition it is not a good way to restart), by using container limits on memory/cpu shares, but then you may not get your result, app can fail and such if memory cannot be allocated, as ngosang said, browser need to be fast not limited.
The container i did a few days ago i

[2020-11-19 00:12] NoahCardoza commented on #31
Thanks @ngosang  for figuring that Docker build issue out!

**v1.0.0** is now available:
+ https://github.com/users/NoahCardoza/packages/container/package/cloudproxy
+ https://hub.docker.com/r/noahcardoza/cloudproxy/tags

[2020-11-19 00:15] NoahCardoza commented on #35
Well, first of all you are not passing `voteURL` to the CURL command because you didn't use string interpolation.

I wouldn't even use CURL in the first place though because you are using Node and already have the request module imported. Why not use that for send the request?

[2020-11-19 00:18] NoahCardoza commented on #31
It's been a while since I have used CloudProxy myself, but if I'm not mistaken you can make one-off requests if you don't pass a session ID. If you just call the `request.get` like in the documentation, that will spawn a browser and then terminate it right after.

If that's what you are doing though, maybe I misremembered something or it's not working the way it's intended to work.

[2020-11-19 00:26] andress134 commented on #35
I tried, but it seems I can't handle it, I don't know how to do this, I'm wrong somewhere, this lib shows me that it detects cloudflare protection, but it doesn't send requests, it just shows me
Captcha detected but no automatic solver is configured.
I don't know where I'm wrong

[2020-11-19 08:37] NoahCardoza commented on #35
You didn't set an automatic solver.

Re: https://github.com/NoahCardoza/CloudProxy#hcaptcha-solver

[2020-11-19 13:03] chicungunya commented on #31
Please someone can help ?
I try to install cloudproxy on my raspberry Pi with docker but i'm totally a noob.
Do I miss something ? https://github.com/NoahCardoza/CloudProxy/issues/30
Thanks a lot

[2020-11-20 01:15] chicungunya commented on #30
@NoahCardoza
Maybe you should help ?
Thanks a lot

[2020-11-20 07:27] #35 closed

[2020-11-20 08:21] OrpheeGT commented on #31
Hello, my CloudProxy container is consuming a lot after some time :

![2020-11-20 09_18_51-NAS_N54L - Synology DiskStation](https://user-images.githubusercontent.com/8038551/99776799-ae154500-2b11-11eb-962c-a5cc6cd146c9.png)

![2020-11-20 09_19_56-AsPowerBar](https://user-images.githubusercontent.com/8038551/99776826-ba999d80-2b11-11eb-8226-482f94a2692a.png)

![2020-11-20 09_20_18-NAS_N54L - Synol

[2020-11-20 13:35] NoahCardoza commented on #31
Thanks for the ss/stats @OrpheeGT!

I've been busy with a hackathon this week, but I'll look into the memory stuff next week. I have a couple ideas, however, if anyone wants to poke around and submit a PR before then that would be amazing!

[2020-11-20 13:36] NoahCardoza commented on #31
@chicungunya I'm pretty sure CloudProxy integration is still under development, right @ngosang?

[2020-11-20 14:13] OrpheeGT commented on #31
FYI I was not using sclemenceau/docker-jackett:cloudproxy but older sebclem/jackett docker image.

[2020-11-21 20:57] abeloin commented on #31
@NoahCardoza I'm have the same issue as @OrpheeGT, my docker image is consuming more and more memory.

From what I can understand from the error it crash at [line 112 in route.ts](https://github.com/NoahCardoza/CloudProxy/blob/master/src/routes.ts#L112).
I'm guessing since the program throw a exception at that line, sessions.destroy in browserRequest is never called.

First time playing with types

[2020-11-22 02:23] Cosmysd opened #39 "[Not a bug] Just some help"
Hello sir @NoahCardoza can be used  your library on my script  for bypass cf, and recaptcha?
If yes, if u can show me a exemple how can upgrade my script. here is my exemple script (have used hooman lib but is bas been patched.  Thank

[code]

[2020-11-23 00:32] NoahCardoza commented on #39
I'm not exactly sure what you are asking? Yes this project can bypass a lot of CF sites.

[2020-11-23 00:34] NoahCardoza commented on #31
I'll take a look into this on Monday/Tuesday, it's currently Sunday for me and I'm STILL adding the finishing touches to a hackathon project 💀.

[2020-11-23 08:52] Cosmysd commented on #39
I dont know how to use this project on my script

So this is my old code  based hooman library for bypass cf

[code]

[2020-11-23 14:55] GautierT commented on #31
Hi. Thank you all for your amazing work !
Cloudproxy is generating a lot of Zombie process...

i'm using `sclemenceau/docker-jackett:cloudproxy` and  `noahcardoza/cloudproxy:latest`

[code]

if i `docker restart cloudproxy` they all get killed. Is this related to how jackett handles session ? or a cloudproxy issue not closing browser ?

Thanks

[2020-11-23 16:50] abeloin commented on #31
@GautierT It's a different issue, there is a pull request fixing that issue: PR #38

[2020-11-23 22:15] NoahCardoza commented on #39
You are close, but you are sending the url as a query parameter. It should be POSTed as a JSON body.

[2020-11-25 06:24] abeloin commented on #31
Maybe you already aware but it seem that Alpine dropped Arm32(Armv7) support starting with 3.12:

https://gitlab.alpinelinux.org/alpine/aports/-/commit/3e8f3d15a917f1952e79d0cafc4ca260ab2753cf

[2020-12-05 10:58] ngosang commented on #31
@NoahCardoza Just remember that we are waiting for the memory problem to be solved. I'm not in a hurry but there are many users waiting.

[2020-12-06 21:03] almottier opened #41 "Very high CPU usage"
**Describe the bug**
Cloudproxy container is draining my CPU after short time

**To Reproduce**
Steps to reproduce the behavior:
+ I use jackett modified image sclemenceau/docker-jackett:cloudproxy
+ scraping https://www.yggtorrent.si/ website every 15 minutes or so

**Expected behavior**
The CPU should remain low

**Screenshots**
[code]

**Desktop (please complete the following information):**
 -

[2020-12-06 23:15] Sebclem commented on #41
Same issue here, i think i related to the ram issue, the cpu load increase when the ram usage increase :
![image](https://user-images.githubusercontent.com/23737709/101295981-24f45280-3821-11eb-8dfc-3fea5eb47995.png)

A restart fix the issue for some time.

[2020-12-07 00:16] NoahCardoza commented on #31
Unfortunately I woke up with the worst headache of my whole year yesterday and lost basically all the time I had planned to spend reviewing the existing PR's and look into the memory issue.

I've got a big project underway at work but it's due next week so after that I'll have some more downtime.

[2020-12-07 00:22] NoahCardoza commented on #39
Close this issue for inactivity.

[2020-12-07 00:22] #39 closed

[2020-12-07 00:26] NoahCardoza commented on #41
I just merged https://github.com/NoahCardoza/CloudProxy/pull/40. Hopefully this helps a little. I'll be pretty busy, but by next week I should have a little time to do some digging.

[2020-12-07 01:10] abeloin commented on #41
I can confirm, that in my case, PR #40 fixed this issue(chromium session not being deleted properly on error) and I have being running it for around 12 days.

[2020-12-07 07:47] almottier commented on #41
Thanks. I did re-build cloudproxy as `noahcardoza/cloudproxy` on DockerHub is still the old version.
I will check today if the issue is resolved for me and close it if it is fixed ! 👍

[2020-12-07 15:10] ccharlot commented on #41
Hi !

I also have this bug... any chance someone could push the new version to DockerHub so I could try it ? ;)

[2020-12-07 15:26] almottier commented on #41
I am running it for 7 hours, CPU remains low. Thanks @abeloin , your PR fixed it 👍

[2020-12-07 16:07] NoahCardoza commented on #41
@almottier My bad. I forgot to bump the version number. A new docker container will be up shortly!

[2020-12-08 08:10] OrpheeGT commented on #31
Hello,

Is it something expected or should I create an issue ? :

![image](https://user-images.githubusercontent.com/8038551/101457031-39297400-3935-11eb-87b0-e57da7d8e994.png)

[2020-12-08 09:13] almottier commented on #41
Thanks, everything is okay on my side. Closing.

[2020-12-08 09:13] #41 closed

[2020-12-09 00:04] xfouloux commented on #31
it is an issue, that i only get with YGGTorrent, not with YGGCookies, so i guess there is something going on there that prevents it to work as intended.

[2020-12-10 05:27] abeloin commented on #31
@OrpheeGT I've opened an issue here: https://github.com/abeloin/Jackett/issues/4

My guess is something went wrong in CloudProxy, you should have look in the log.

[2020-12-13 17:58] NeZios commented on #31
Same issue here

[2020-12-13 23:08] abeloin commented on #31
@NeZios What version are using? Because this message is now different, it give you a more precise information on what's going on. You should use yggtorrent not yggcookies.

Also starting with v0.17.50, Jackett now support it officially.

[2020-12-14 00:08] ngosang commented on #31
I'm going to close this because it's already integrated in Jackett. Users can choose FlareSolverr or CloudProxy, both are working and have the same API (at the time of writing).

* **Jackett v0.17.50 is out** and it supports FlareSolverr / CloudProxy integration. If you are using a custom build, you can install the official release and enable auto-updates. [Documentation](https://github.com/Jacket

[2020-12-14 00:08] #31 closed

[2021-05-14 16:48] thebetauser opened #48 "Docker Build Fails"
**Describe the bug**
- Docker Image Build fails

**To Reproduce**
- Run docker build against the dockerfile

**Expected behavior**
A clear and concise description of what you expected to happen.
- Build succeeds

**Screenshots**
If applicable, add screenshots to help explain your problem.

**Desktop (please complete the following information):**
 - OS: Ubuntu 21.04
 - Docker Version: Docker versio

[2021-05-25 12:47] grobek opened #49 "Npm build / Docker build fails"
**Describe the bug**
I wasn't able to compile the source code using ```docker build -t cloudproxy:latest .``` (or not inside the docker, it doesn't really matter in that case), it would give me the following errors:
[code]

**To Reproduce**
Steps to reproduce the behavior:
```docker build -t somename:latest . ```

**Expected behavior**
A docker image of the program.

**Suggested Solution**
So I've

[2021-05-26 03:40] NoahCardoza commented on #48
Don't have much time at the moment but thankfully someone was able to find a solution #49

[2021-05-26 03:40] #48 closed

[2021-05-26 03:43] NoahCardoza commented on #49
Great work!

It just occurred to me that this issue stems from a captcha plugin someone added...

I'd rather fix that issue than revert, so if anyone wants to open a PR that would be great! Otherwise it might take me a little time to get to it.

Btw, does it still bypass CF @grobek ? I heard they were changing things around as you probably saw us chatting about in the Discord server...

Thanks a b

[2021-05-26 06:39] grobek commented on #49
Hey @NoahCardoza, yes, it does still pass CF, just now the only thing that’s needed to utilize is browser agent, ip and the generated cf_clearance.
Though I didn’t try to check if it passes captcha and whatnot.

[2021-05-26 06:39] #49 closed

[2021-05-29 21:15] NoahCardoza commented on #49
Great to hear! I think this should be a somewhat simple fix. Some more fields need to be added to the `SolverOptions` interface it looks like.

[2021-06-01 07:50] ulysserevient commented on #25
Hi,
I encounter same error
`2021-06-01T07:46:17.671Z INFO REQ-1 Cloudflare detected
2021-06-01T07:46:17.679Z DEBUG REQ-1 No '#trk_jschal_js' challenge element detected.
2021-06-01T07:46:17.681Z DEBUG REQ-1 No '.ray_id' challenge element detected.
2021-06-01T07:46:17.684Z DEBUG REQ-1 No '.attack-box' challenge element detected.
2021-06-01T07:46:17.780Z INFO REQ-1 Waiting to receive captcha token to

[2021-06-21 07:24] NightMachinary opened #53 "Add socks proxy"
Can we have a socks proxy that uses an open session for all its requests transparently? I.e., by setting this proxy on a tool, that tool will be using CloudProxy transparently. Most tools support socks proxies, so this will make it very easy to use CloudProxy with them.

[2021-07-08 16:34] NoahCardoza commented on #53
I'm not sure if this is possible in terms of passing CloudFlare, since it's preforming more of a man in the middle role rather than a true proxy. It's not forwarding a stream from one server to another, it's making a request based off information sent to it, and then returning the response. Unless I misunderstand?

[2021-07-08 16:35] NoahCardoza commented on #26
Any update?

[2021-07-21 06:19] thanh858036 opened #54 "cant bypass this site"
it dont bybass cloadflare on this site
https://bato.to/

error detail
`{
    "status": "ok",
    "message": "",
    "startTimestamp": 1626848183197,
    "endTimestamp": 1626848183575,
    "session": "d282ab10-e9ea-11eb-bea0-1b284ff0b0fb",
    "solution": {
        "url": "https://bato.to/",
        "status": 403,
        "headers": {
            "status": "403",
            "date": "Wed, 21 Jul 20

[2021-08-02 12:18] Pyreaus commented on #54
I'm getting a similar error - Idk if NoahCardoza is continuing work on this

[2021-08-15 21:46] serk7 commented on #54
error code: 1005 <-- cloudflare error (Access Denied)
"status": 403 <-- url status ( Forbidden)

Seems your ip is blacklisted on their site. Try using a proxy:

,"maxTimeout": 60000,"proxy":"proxy.xxxxxxxx.com:80"}"

[2021-08-22 20:53] NoahCardoza commented on #54
@Pyreaus yeah, you are kinda right. I'd love to keep up my open source projects but unlike my job, they don't pay lol.

[2021-08-23 14:43] jairoxyz commented on #54
I updated the stealth module ("puppeteer-extra-plugin-stealth": "^2.7.8") and am getting good response from bato.to:

[code]

I have a problem, though, updating the other puppeteer modules to the latest versions. Getting typescript errors when doing npm run build:

[code]

[2022-01-07 23:18] Dzeri96 opened #62 "Unable to process browser request when downloading a PDF"
**Describe the bug**
I'm trying to download a PDF from `https://www.mdpi.com/1996-1944/12/18/2995/pdf`, but CloudProxy throws an error.

**To Reproduce**
Make the following request:
[code]

**Expected behavior**
A PDF is downloaded as a byte stream

**Desktop (please complete the following information):**
 - OS: Linux
 - Browser Any
 - Version 2.1.1

**Additional context**
This is the stack trace:

[2022-02-01 12:23] teejay-87 opened #64 "Can't get it work for symphonicms.com"
Can't get it work for https://www.symphonicms.com/auth/login

Can you please check it?

Thanks in advance if you can!

[2022-03-04 19:32] Northernside opened #66 "Raspberry Pi - exec user process caused"
**Describe the bug**
`docker-compose up -d` isn't working. It fails at step 4/15.

**To Reproduce**
Steps to reproduce the behavior:
- Git clone the repo
- Run `docker compose up -d`

**Expected behavior**
A clear and concise description of what you expected to happen.
I expected it to start successfully.

**Screenshots**
If applicable, add screenshots to help explain your problem.
![image](https:

[2022-06-21 23:48] thebetauser commented on #66
This is not technically a bug, the docker file assumes amd64 architecture instead of pulling it from the host OS.

For raspberry pi you need to replace `amd64` with `arm64v8` which I think is for model 4
If those don't work, the other supported images are `arm32v6` `arm32v7` for the 32bit versions

[2022-06-22 02:55] NoahCardoza commented on #66
I haven't been around much lately and I'm not even 100% sure this project even works still LOL!  If this is an easy fix feel free to submit a PR or point me to a guide @thebetauser. Summer starts next week and I'd like to clean up some of these projects and straighten out the READMEs.

[2022-06-22 15:06] thebetauser commented on #66
@NoahCardoza I did some testing on my pi 4. The issue is targetplatform and buildplatform. These are not needed for running containers. I was able to get it to run and pull the aarch64 version of alpine by removing the targetplatform and buildplatform.

I created PR #69 with the changes

[2022-06-23 20:37] NoahCardoza commented on #66
@Northernside I just merged a PR from @thebetauser (thanks!). If you get a chance give it a go and let me know if it fixes your issues.

[2022-09-21 20:01] NoahCardoza commented on #66
Closing this since there hasn't been a response.

[2022-09-21 20:01] #66 closed

[2022-09-23 18:52] Northernside commented on #66
Ohhh, I'm really sorry!
I forgot to answer and then I forgot it for months :/ I actually don't need to use CloudProxy anymore, but I'll try the fix in a few hours! Thank you for your help :)

[2022-09-24 02:33] NoahCardoza commented on #66
@Northernside No worries. I too forgot for a while but apparently I'd set a reminder to check back LOL!